.testimonialImageTwo {
  height: 8.75rem;
  width: 8.75rem;
  position: absolute;
  margin: 0 !important;
  top: -4.75rem;
  left: 3.9375rem;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
}
.frameChild,
.maskGroupIcon,
.maskGroupIcon1 {
  position: absolute;
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
}
.frameChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  z-index: 1;
}
.frameWrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.maskGroupIcon,
.maskGroupIcon1 {
  object-fit: cover;
}
.maskGroupIcon {
  height: 14.19375rem;
  width: calc(100% - 1.275rem);
  right: 0.6375rem;
  bottom: -0.41875rem;
  left: 0.6375rem;
  z-index: 2;
}
.maskGroupIcon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  z-index: 3;
}
.frameItem {
  height: 1.375rem;
  width: 10.625rem;
  position: relative;
  backdrop-filter: blur(0.693125rem);
  border-radius: 0.346875rem;
  background-color: var(--color-lightsteelblue-200);
  flex-shrink: 0;
  display: none;
}
.namePlaceholder,
.namePlaceholder1,
.namePlaceholder2 {
  position: absolute;
  top: 0.24375rem;
  left: 0;
  border-radius: 0.034375rem;
  background-color: var(--color-white);
  width: 0.10625rem;
  height: 0.24375rem;
}
.namePlaceholder1,
.namePlaceholder2 {
  top: 0.125rem;
  left: 0.175rem;
  height: 0.3625rem;
}
.namePlaceholder2 {
  top: 0;
  left: 0.35rem;
  height: 0.4875rem;
}
.namePlaceholderParent {
  width: 0.45rem;
  height: 0.4875rem;
  position: relative;
  z-index: 1;
}
.instructorDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-2) 0 0;
}
.instructorTitleChild {
  height: 1rem;
  position: relative;
  border-radius: 0.346875rem;
  background-color: var(--color-dodgerblue);
  display: none;
}
.instructor {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 2.75rem;
  z-index: 2;
}
.instructorTitle {
  border-radius: 0.346875rem;
  background-color: var(--color-dodgerblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-6xs);
  z-index: 1;
}
.evenyHoward {
  position: relative;
  font-size: var(--font-size-xs-1);
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.rectangleParent {
  backdrop-filter: blur(0.693125rem);
  border-radius: 0.346875rem;
  background-color: var(--color-lightsteelblue-200);
  overflow-x: auto;
  flex-shrink: 0;
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-5xs-6);
  z-index: 4;
}
.deeplyNestedMask1,
.doubleMask,
.rectangleParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.doubleMask {
  align-self: stretch;
  flex: 1;
  align-items: flex-end;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-4xs-6);
  position: relative;
}
.deeplyNestedMask1 {
  align-items: flex-start;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameInner {
  position: relative;
  box-shadow: 0 0.53125rem 1.276875rem rgba(52, 101, 225, 0.3);
  border-radius: 3.191875rem;
  background-color: var(--color-firebrick-100);
  display: none;
}
.present {
  position: relative;
  font-size: var(--font-size-3xl-1);
  display: inline-block;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: left;
  min-width: 4.9375rem;
  z-index: 1;
}
.presentCallInner,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs-3) var(--padding-17xl) var(--padding-2xs-8) var(--padding-18xl);
  background-color: var(--color-firebrick-100);
  box-shadow: 0 0.53125rem 1.276875rem rgba(52, 101, 225, 0.3);
  border-radius: 3.191875rem;
  flex-direction: row;
  z-index: 2;
}
.rectangleGroup:hover {
  background-color: var(--color-coral-100);
}
.presentCallInner {
  flex-direction: column;
  padding: var(--padding-6xs-7) 0 0;
}
.frameChild1,
.rectangleDiv {
  position: relative;
  border-radius: 3.191875rem;
  background-color: var(--color-gray-700);
  display: none;
}
.frameChild1 {
  box-shadow: 0 0.53125rem 1.276875rem rgba(202, 47, 93, 0.3);
  background-color: var(--color-black);
}
.phone1Icon {
  width: 1.0625rem;
  height: 1.0625rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.phone1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.call {
  position: relative;
  font-size: var(--font-size-3xl-1);
  display: inline-block;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: left;
  min-width: 2.60625rem;
  z-index: 2;
}
.frameButton,
.rectangleContainer {
  flex: 1;
  border-radius: 3.191875rem;
  flex-direction: row;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-23xl) var(--padding-2xs-3);
  background-color: var(--color-black);
  box-shadow: 0 0.53125rem 1.276875rem rgba(202, 47, 93, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs-3);
  z-index: 1;
}
.rectangleContainer {
  background-color: var(--color-gray-700);
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-6xs-9) var(--padding-5xs);
  box-sizing: border-box;
  min-width: 6.875rem;
  z-index: 2;
}
.deeplyNestedMaskGroup,
.presentCall,
.rectangleContainer,
.tamaraHumbert {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.presentCall {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-5xl-1);
}
.deeplyNestedMaskGroup,
.tamaraHumbert {
  flex-direction: column;
}
.deeplyNestedMaskGroup {
  width: 21.64375rem;
  gap: var(--gap-15xl-4);
  min-width: 21.64375rem;
  max-width: 100%;
}
.tamaraHumbert {
  width: 10.4rem;
  gap: var(--gap-6xl);
  min-width: 10.4rem;
  font-size: var(--font-size-xs-1);
}
.ellipseDiv,
.frameChild2 {
  position: absolute;
  border-radius: 50%;
}
.ellipseDiv {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1.8125rem;
  background-color: var(--color-firebrick-100);
  width: 16.5rem;
}
.frameChild2 {
  top: 13.25rem;
  left: 0;
  background-color: var(--color-salmon-200);

  z-index: 1;
}
.ellipseParent,
.maskGroupIcon2 {
  position: absolute;
  margin: 0 !important;
  bottom: -3.25rem;
  left: -4.875rem;
}
.maskGroupIcon2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameChild3 {
  height: 1.95rem;
  width: 9.95rem;
  position: relative;
  backdrop-filter: blur(1rem);
  border-radius: var(--br-5xs);
  background-color: var(--color-lightsteelblue-200);
  display: none;
}
.firstRating,
.firstRating1,
.firstRating2 {
  position: absolute;
  top: 0.35rem;
  left: 0;
  border-radius: var(--br-12xs-8);
  background-color: var(--color-white);
  width: 0.15rem;
  height: 0.35rem;
  z-index: 1;
}
.firstRating1,
.firstRating2 {
  top: 0.175rem;
  left: 0.25rem;
  height: 0.525rem;
}
.firstRating2 {
  top: 0;
  left: 0.5rem;
  height: 0.7rem;
}
.firstRatingParent {
  width: 0.65rem;
  height: 0.7rem;
  position: relative;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-6) 0 0;
}
.patriciaMendoza {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 7.8125rem;
  z-index: 1;
}
.groupDiv {
  backdrop-filter: blur(1rem);
  border-radius: var(--br-5xs);
  background-color: var(--color-lightsteelblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-8) var(--padding-6xs) var(--padding-8xs-4) var(--padding-5xs);
  gap: var(--gap-5xs);
  z-index: 1;
}
.frameParent,
.groupIcon {
  position: absolute;
  margin: 0 !important;
}
.frameParent {
  width: 15rem;
  right: -7.0625rem;
  bottom: -2.4375rem;
  filter: drop-shadow(1.25rem 1.25rem 2.5rem rgba(13, 15, 28, 0.15));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-169xl) var(--padding-xs) var(--padding-smi-8);
  box-sizing: border-box;
  z-index: 2;
  font-size: var(--font-size-base);
}
.groupIcon {
  height: 49.36875rem;
  width: 5.8125rem;
  top: -27.74375rem;
  right: 18.125rem;
  z-index: 3;
}
.testimonialImageTwoParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-73xl-8) var(--padding-25xl) var(--padding-24xl-6);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-45xl-8);
  max-width: 100%;
}
.frameChild4 {
  height: 1.64375rem;
  width: 6.39375rem;
  position: relative;
  backdrop-filter: blur(0.841875rem);
  border-radius: 0.420625rem;
  background-color: var(--color-lightsteelblue-200);
  display: none;
}
.fourthRating,
.fourthRating1 {
  position: absolute;
  top: 0.14375rem;
  left: 0;
  border-radius: 0.041875rem;
  background-color: var(--color-white);
  width: 0.125rem;
  height: 0.29375rem;
  z-index: 1;
}
.fourthRating1 {
  top: 0;
  left: 0.2125rem;
  height: 0.44375rem;
}
.fourthRatingParent {
  width: 0.3375rem;
  height: 0.44375rem;
  position: relative;
}
.singleAvatarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.fifthImage {
  width: 0.125rem;
  height: 0.5875rem;
  position: relative;
  border-radius: 0.041875rem;
  background-color: var(--color-white);
  flex-shrink: 0;
  z-index: 1;
}
.fifthImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-7) 0 0;
}
.adamLevin {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 4.5875rem;
  flex-shrink: 0;
  z-index: 1;
}
.nameContainer,
.rectangleParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
}
.rectangleParent1 {
  backdrop-filter: blur(0.841875rem);
  border-radius: 0.420625rem;
  background-color: var(--color-lightsteelblue-200);
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-8xs-1);
  gap: var(--gap-11xs-3);
  z-index: 1;
}
.maskGroupParent {
  align-self: stretch;
  filter: drop-shadow(1.0625rem 1.0625rem 2.5rem rgba(13, 15, 28, 0.1));
  flex-direction: row;
  padding: var(--padding-139xl-3) var(--padding-3xs) var(--padding-2xs-7);
  position: relative;
  z-index: 2;
}
.deeplyNestedMask,
.deeplyNestedMaskInner,
.maskGroupParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.deeplyNestedMaskInner {
  flex-direction: column;
  padding: var(--padding-34xl) 0 0;
  box-sizing: border-box;
  margin-left: -6.625rem;
  font-size: var(--font-size-sm-5);
}
.deeplyNestedMask {
  flex: 1;
  flex-direction: row;
  min-width: 35.6875rem;
  max-width: 100%;
}
.userInterface {
  color: var(--color-firebrick-100);
}
.aUserInterfaceContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.aUserInterfaceDesignedForWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.seventhImage {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0.9375rem 2.75rem rgba(13, 15, 28, 0.12);
  border-radius: 50%;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 100%;
}
.sixthImage,
.sixthImage1,
.sixthImage2,
.sixthImage3 {
  position: absolute;
  top: 1.0625rem;
  left: 1.0625rem;
  border-radius: var(--br-11xs);
  background-color: var(--color-firebrick-100);
  width: 0.7375rem;
  height: 0.7375rem;
  z-index: 1;
}
.sixthImage1,
.sixthImage2,
.sixthImage3 {
  top: 1.95rem;
}
.sixthImage2,
.sixthImage3 {
  top: 1.0625rem;
  left: 1.9875rem;
}
.sixthImage3 {
  top: 1.95rem;
  background-color: var(--color-darkorange-100);
}
.seventhImageParent {
  height: 3.75rem;
  flex: 1;
  position: relative;
  align-items: center;
}
.descriptionElements,
.elementContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.elementContainer {
  align-self: stretch;
  flex-direction: row;
}
.descriptionElements {
  width: 3.75rem;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.teachersDontGet {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 180%;
  display: inline-block;
}
.descriptionContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.frameChild5,
.frameChild6 {
  position: absolute;
  top: 0.375rem;
  left: 0.5rem;
  border-radius: var(--br-11xs);
  background-color: var(--color-firebrick-100);
  width: 1.25rem;
  height: 1.25rem;
}
.frameChild6 {
  top: 0;
  left: 0;
  background-color: var(--color-darkorange-100);
  width: 1.325rem;
  height: 1.325rem;
  z-index: 1;
}
.rectangleParent2 {
  position: absolute;
  top: 1.0625rem;
  left: 1rem;
  width: 1.75rem;
  height: 1.625rem;
  z-index: 1;
}
.featureElements {
  width: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.users2Icon {
  position: absolute;
  top: 1.0625rem;
  left: 0.9375rem;
  width: 1.875rem;
  height: 1.625rem;
  overflow: hidden;
  z-index: 1;
}
.featureContent1 {
  width: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.teachersCanEasily {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 180%;
  display: inline-block;
  min-width: 18.625rem;
  max-width: 100%;
}
.featureContainer,
.featureContainer1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.featureContainer {
  flex-direction: column;
  gap: var(--gap-21xl);
}
.descriptionContainer {
  align-self: stretch;
  gap: var(--gap-21xl);
  font-size: var(--font-size-3xl);
  color: var(--color-slategray-100);
}
.descriptionContainer,
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  gap: var(--gap-32xl);
}
.frameWrapper {
  padding: var(--padding-22xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.deeplyNestedMaskParent,
.landingInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 90.975rem;
}
.deeplyNestedMaskParent {
  gap: var(--gap-121xl);
}
.landingInner {
  width: 119.0125rem;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-firebrick-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 81.25rem) {
  .frameWrapper {
    flex: 1;
  }
  .deeplyNestedMaskParent {
    gap: var(--gap-51xl);
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 50rem) {
  .doubleMask {
    flex: 1;
  }
  .deeplyNestedMaskGroup {
    flex: 1;
    min-width: 100%;
  }
  .tamaraHumbert {
    flex: 1;
  }
  .testimonialImageTwoParent {
    gap: var(--gap-13xl);
    flex-wrap: wrap;
    padding: var(--padding-41xl) var(--padding-3xl) var(--padding-9xl);
    box-sizing: border-box;
  }
  .deeplyNestedMask {
    min-width: 100%;
  }
  .aUserInterfaceContainer {
    font-size: var(--font-size-13xl);
    line-height: 3.1875rem;
  }
  .descriptionContent,
  .featureContainer1 {
    gap: var(--gap-2xl);
    flex-wrap: wrap;
  }
  .descriptionContainer,
  .featureContainer {
    gap: var(--gap-xl);
  }
  .frameGroup {
    gap: var(--gap-6xl);
  }
  .frameWrapper {
    padding-top: var(--padding-8xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .deeplyNestedMaskParent {
    gap: var(--gap-16xl);
  }
  .landingInner {
    padding-bottom: var(--padding-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);

    box-sizing: border-box;
  }
}
@media screen and (max-width: 28.125rem) {
  .call,
  .present {
    font-size: var(--font-size-lg);
  }
  .presentCall {
    flex-wrap: wrap;
  }
  .deeplyNestedMaskGroup {
    gap: var(--gap-mid);
  }
  .testimonialImageTwoParent {
    gap: var(--gap-base);
  }
  .aUserInterfaceContainer {
    font-size: var(--font-size-5xl);
    line-height: 2.375rem;
  }
  .teachersCanEasily,
  .teachersDontGet {
    font-size: var(--font-size-lg);
    line-height: 2rem;
  }
  .deeplyNestedMaskParent {
    gap: var(--gap-mid);
  }
}
