.span {
  color: var(--color-darkorange-100);
}
.toolsForEducators {
  color: var(--color-black);
}
.classManagementToolsContainer {
  margin: 0;
  width: 26.3rem;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.classProvidesTools {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.02em;
  line-height: 180%;
  color: var(--color-slategray-100);
}
.classManagementToolsForEduParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.classManagementToolsForEduParent {
  align-self: stretch;
  gap: var(--gap-xl);
}
.frameWrapper {
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.gradebookIcon {
  height: 2.74375rem;
  width: 2.75rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  flex-shrink: 0;
}
.gradebookHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xs);
}
.gradebookTitleChild {
  align-self: stretch;
  height: 29.95rem;
  position: relative;
  box-shadow: 0 0.625rem 3rem rgba(40, 43, 110, 0.1);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  z-index: 0;
}
.titleChild {
  height: 4.36875rem;
  width: 44.85625rem;
  position: relative;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-firebrick-100);
  display: none;
  max-width: 100%;
}
.gradebook {
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 2.25rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-azure);
  text-align: left;
  display: inline-block;
  min-width: 7.8125rem;
  z-index: 3;
}
.title {
  cursor: pointer;
  border: 0;
  padding: var(--padding-mid-9) var(--padding-xl) var(--padding-base) var(--padding-2xl);
  background-color: var(--color-firebrick-100);
  align-self: stretch;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 2;
}
.title:hover {
  background-color: var(--color-coral-100);
}
.studentChild {
  height: 3.11875rem;
  width: 6.25rem;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-lightcyan-200);
  display: none;
}
.name {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 2.25rem;
  z-index: 5;
}
.student {
  position: absolute;
  top: 2.68125rem;
  left: 8.68125rem;
  border-radius: var(--br-41xl);
  background-color: var(--color-lightcyan-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-6xs);
  z-index: 4;
}
.gradesChild {
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: var(--color-firebrick-100);
  width: 7.93125rem;
  height: 1.86875rem;
  z-index: 2;
}
.maskGroupIcon {
  top: 0;

  z-index: 3;
}
.starredIcon {
  position: absolute;
  top: 4.30625rem;
  left: 6.68125rem;
  width: 2rem;
  height: 1.99375rem;
  z-index: 5;
}
.grades {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10.19375rem;
}
.list {
  align-self: stretch;
  height: 6.3rem;
  position: relative;
}
.studentList {
  width: 14.93125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl-9) 0 0;
  box-sizing: border-box;
  min-width: 14.93125rem;
}
.frameChild {
  border: 0;
  outline: 0;
  background-color: var(--color-crimson-100);
  position: absolute;
  top: 2.05625rem;
  left: 2.25rem;
  width: 9.11875rem;
  height: 1.86875rem;
  z-index: 2;
}
.maskGroupIcon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 5.325rem;
  object-fit: cover;
  z-index: 3;
}
.rectangleParent,
.studentNameChild {
  position: absolute;
  margin: 0 !important;
}
.rectangleParent {
  height: 5.31875rem;
  width: 11.36875rem;
  right: 0.00625rem;
  bottom: -3.3875rem;
}
.studentNameChild {
  height: 3.11875rem;
  width: 6.25rem;
  bottom: 1.75rem;
  left: -0.4375rem;
  border-radius: var(--br-41xl);
  background-color: var(--color-lavender-300);
  z-index: 4;
}
.frameItem {
  border: 0;
  outline: 0;
  background-color: var(--color-salmon-100);
  position: absolute;
  top: 1.74375rem;
  left: 2.6875rem;
  width: 19.05625rem;
  height: 1.86875rem;
  z-index: 2;
}
.name2,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 21.74375rem;
  height: 5.31875rem;
}
.name2 {
  top: 4.8625rem;
  left: 1.8125rem;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  width: 1.8125rem;
  height: 4.36875rem;
  z-index: 5;
}
.name1,
.studentName {
  position: relative;
  max-width: 100%;
}
.name1 {
  height: 9.23125rem;
  flex: 1;
}
.studentName {
  width: 21.74375rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.scoreEntryChild {
  height: 3.11875rem;
  width: 6.25rem;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-pink);
  display: none;
}
.name3 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 1.6875rem;
  z-index: 5;
}
.score,
.scoreEntry {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.scoreEntry {
  width: 6.25rem;
  border-radius: var(--br-41xl);
  background-color: var(--color-pink);
  justify-content: flex-start;
  padding: var(--padding-5xs-9) var(--padding-16xl) var(--padding-5xs-1);
  z-index: 4;
}
.score {
  width: 19.425rem;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.scoreProgressChild {
  border: 0;
  outline: 0;
  background-color: var(--color-lightcoral);
  position: absolute;
  top: 2.05625rem;
  left: 0;
  width: 16.24375rem;
  height: 1.86875rem;
  z-index: 2;
}
.maskGroupIcon3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 13.74375rem;
  max-height: 100%;
  width: 5.325rem;
  object-fit: cover;
  z-index: 3;
}
.scoreProgress {
  height: 5.31875rem;
  width: 19.06875rem;
  position: absolute;
  margin: 0 !important;
  top: -2.99375rem;
  left: -17.55rem;
}
.percentageChild {
  height: 3.11875rem;
  width: 6.25rem;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-lightgoldenrodyellow);
  display: none;
}
.name4 {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 1.8125rem;
  z-index: 5;
}
.details,
.percentage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.percentage {
  border-radius: var(--br-41xl);
  background-color: var(--color-lightgoldenrodyellow);
  padding: var(--padding-5xs) var(--padding-16xl) var(--padding-6xs) var(--padding-17xl);
  z-index: 4;
}
.details {
  position: relative;
}
.frameInner,
.rectangleDiv {
  position: relative;
  border-radius: var(--br-41xl);
  display: none;
}
.frameInner {
  height: 1.80625rem;
  width: 9.11875rem;
  filter: blur(3.375rem);
  background-color: var(--color-mediumslateblue);
}
.rectangleDiv {
  height: 3.61875rem;
  width: 10.61875rem;
  background: linear-gradient(105.5deg, #545ae7, #393fcf);
}
.export {
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 4.3125rem;
  z-index: 2;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-29xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-41xl);
  background: linear-gradient(105.5deg, #545ae7, #393fcf);
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
}
.rectangleContainer,
.scoreDetails,
.scoreDetailsInner {
  display: flex;
  align-items: flex-start;
}
.scoreDetailsInner {
  width: 10.61875rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-29xl-9) 0 0;
  box-sizing: border-box;
}
.scoreDetails {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  color: var(--color-seagreen);
}
.scoreList {
  width: 24.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.studentScores {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) 0 0;
  box-sizing: border-box;
  color: var(--color-indianred);
}
.studentEntry,
.studentScores,
.students {
  display: flex;
  max-width: 100%;
}
.studentEntry {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  min-width: 17.75rem;
  color: var(--color-steelblue);
}
.students {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-22xl-9);
}
.gradebookTitleInner,
.gradebookTitleItem {
  position: absolute;
  margin: 0 !important;
  object-fit: contain;
  z-index: 3;
}
.gradebookTitleItem {
  width: 9.925rem;
  height: 9.90625rem;
  top: -3.80625rem;
  left: -2.875rem;
}
.gradebookTitleInner {
  width: 7.55625rem;
  height: 7.54375rem;
  top: 1.80625rem;
  right: -2.7875rem;
}
.backgroundChild {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 1.4375rem;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender-100);
  width: 18.05625rem;
}
.backgroundItem {
  position: absolute;
  top: 8.23125rem;
  left: 0;
  width: 5.1375rem;
  height: 2.175rem;
  z-index: 2;
}
.background {
  width: 19.49375rem;
  height: 12.975rem;
  position: absolute;
  margin: 0 !important;
  bottom: -1.24375rem;
  left: -2.6875rem;
}
.gradebookHeaderParent,
.gradebookTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.gradebookTitle {
  align-self: stretch;
  box-shadow: 0 0.625rem 3rem rgba(40, 43, 110, 0.1);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  align-items: flex-start;
  padding: 0 0 var(--padding-6xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-35xl-9);
  flex-shrink: 0;
  z-index: 1;
}
.gradebookHeaderParent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-3xs);
}
.gradebookImageChild {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
}
.gradebookImage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-14xl-9) 0 0;
}
.featuresImage,
.frameParent,
.landingInner {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.featuresImage {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-9);
  min-width: 30.625rem;
  font-size: var(--font-size-3xl);
  color: var(--color-cadetblue);
}
.frameParent,
.landingInner {
  justify-content: center;
}
.frameParent {
  width: 90.975rem;
  align-items: flex-end;
  gap: var(--gap-118xl);
}
.landingInner {
  width: 100vw;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-firebrick-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 81.25rem) {
  .frameWrapper {
    flex: 1;
  }
  .frameParent {
    gap: var(--gap-49xl);
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 50rem) {
  .classManagementToolsContainer {
    font-size: var(--font-size-13xl);
    line-height: 3.1875rem;
  }
  .frameWrapper {
    min-width: 100%;
  }
  .name1,
  .studentList {
    flex: 1;
  }
  .students {
    gap: var(--gap-2xl);
    flex-wrap: wrap;
  }
  .gradebookTitle {
    gap: var(--gap-8xl);
  }
  .gradebookHeaderParent {
    min-width: 100%;
  }
  .featuresImage {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frameParent {
    gap: var(--gap-15xl);
  }
  .landingInner {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 28.125rem) {
  .classManagementToolsContainer {
    font-size: var(--font-size-5xl);
    line-height: 2.375rem;
  }
  .classProvidesTools {
    font-size: var(--font-size-lg);
    line-height: 2rem;
  }
  .frameWrapper {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
  .gradebook,
  .name,
  .name2,
  .name3,
  .name4 {
    font-size: var(--font-size-lg);
    line-height: 1.75rem;
  }
  .export {
    font-size: var(--font-size-lg);
  }
  .scoreDetails {
    flex-wrap: wrap;
    justify-content: center;
  }
  .frameParent {
    gap: var(--gap-mid);
  }
}
