.discussionsHeaderChild {
  height: 33.8px;
  width: 35px;
  position: absolute;
  margin: 0 !important;
  top: 78.1px;
  left: 701.5px;
  object-fit: contain;
}
.discussionsHeaderItem {
  height: 193px;
  width: 196.8px;
  position: absolute;
  margin: 0 !important;
  bottom: -19.5px;
  left: -18.8px;
  border-radius: 18.83px;
  background-color: var(--color-firebrick-100);
}
.frameChild {
  position: absolute;
  top: -31.1px;
  right: -34.9px;
  border-radius: 50%;
  border: 0 solid var(--color-firebrick-100);
  box-sizing: border-box;
  width: 113px;
  height: 113px;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameInner {
  height: 38.7px;
  width: 116px;
  position: relative;
  box-shadow: 0 6.4px 15.47px rgba(52, 101, 225, 0.3);
  border-radius: 38.67px;
  background-color: var(--color-royalblue-200);
  display: none;
}
.present {
  position: relative;
  display: inline-block;
  min-width: 60px;
  z-index: 1;
}
.rectangleParent {
  position: absolute;
  top: 295.8px;
  left: 36.1px;
  box-shadow: 0 6.4px 15.47px rgba(52, 101, 225, 0.3);
  border-radius: 38.67px;
  background-color: var(--color-royalblue-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: var(--padding-5xs-8) var(--padding-8xl) var(--padding-5xs-9); */
  z-index: 1;
  font-size: var(--font-size-base-8);
}
.rectangleDiv {
  height: 38.7px;
  width: 116px;
  position: relative;
  box-shadow: 0 6.4px 15.47px rgba(202, 47, 93, 0.3);
  border-radius: 38.67px;
  background-color: var(--color-crimson-200);
  display: none;
}
.phone1Icon {
  width: 12.9px;
  height: 12.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.phone1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-1) 0 0;
}
.call {
  position: relative;
  font-size: var(--font-size-base-8);
  display: inline-block;
  font-family: var(--font-nunito-sans);
  color: var(--color-white);
  text-align: left;
  min-width: 31.6px;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs-8) var(--padding-13xl) var(--padding-4xs-3);
  background-color: var(--color-crimson-200);
  position: absolute;
  top: 295.8px;
  left: 177.9px;
  box-shadow: 0 6.4px 15.47px rgba(202, 47, 93, 0.3);
  border-radius: 38.67px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 1;
}
.controlsChild,
.controlsItem,
.frameChild1 {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.frameChild1 {
  top: 1.9px;
  backdrop-filter: blur(9.42px);
  border-radius: 18.83px;
  background-color: var(--color-cornflowerblue);
  z-index: 2;
}
.controlsChild,
.controlsItem {
  top: 0;
  object-fit: cover;
  z-index: 1;
}
.controlsItem {
  top: 57.5px;
  left: 9.4px;
  width: 111px;
  height: 111px;
  object-fit: contain;
  z-index: 4;
}
.controls {
  position: absolute;
  top: 69.6px;
  left: 35.8px;
  width: 193.4px;
  height: 192px;
}
.ellipseParent {
  height: 365.5px;
  width: 658.1px;
  position: relative;
  min-width: 658.1px;
  max-width: 100%;
  z-index: 1;
}
.discussions1 {
  color: var(--color-firebrick-100);
}
.oneOnOneDiscussions {
  margin: 0;
  width: 274px;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.teachersAndTeacher {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.02em;
  line-height: 180%;
  color: var(--color-slategray-100);
}
.discussionTitle,
.oneOnOneDiscussionsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.oneOnOneDiscussionsParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.discussionTitle {
  width: 540px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-smi-6);
  box-sizing: border-box;
  min-width: 540px;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.discussionPanel {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frameChild2,
.previewChild {
  position: relative;
  display: none;
}
.frameChild2 {
  align-self: stretch;
  height: 368.1px;
  box-shadow: 0 18.8px 47.08px rgba(47, 50, 125, 0.1);
  border-radius: 18.83px;
  background-color: var(--color-white);
}
.previewChild {
  height: 24.5px;
  width: 591.3px;
  border-radius: 18.83px 18.83px 0 0;
  background-color: var(--color-whitesmoke);
  max-width: 100%;
}
.previewItem {
  height: 12.2px;
  width: 49px;
  position: relative;
  z-index: 2;
}
.preview {
  align-self: stretch;
  border-radius: 18.83px 18.83px 0 0;
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-1) var(--padding-9xl) var(--padding-6xs-2);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.groupIcon,
.lineDiv {
  position: relative;
  z-index: 1;
}
.groupIcon {
  height: 192.5px;
  width: 199.2px;
  object-fit: cover;
}
.lineDiv {
  height: 198.7px;
  width: 0.9px;
  border-right: 0.9px solid var(--color-lavender-200);
  box-sizing: border-box;
}
.maskGroupIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameChild3 {
  height: 25.9px;
  width: 131.9px;
  position: relative;
  backdrop-filter: blur(13.26px);
  border-radius: 6.63px;
  background-color: var(--color-lightsteelblue-200);
  display: none;
}
.image,
.image1 {
  position: absolute;
  top: 2.3px;
  left: 0;
  border-radius: 0.66px;
  background-color: var(--color-white);
  width: 2px;
  height: 4.6px;
  z-index: 1;
}
.image1 {
  top: 0;
  left: 3.3px;
  height: 7px;
}
.imageParent {
  width: 5.3px;
  height: 7px;
  position: relative;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.name {
  width: 2px;
  height: 9.3px;
  position: relative;
  border-radius: 0.66px;
  background-color: var(--color-white);
  z-index: 1;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-7) 0 0;
}
.patriciaMendoza {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 104px;
  z-index: 1;
}
.nameContainerParent {
  align-items: flex-start;
  gap: var(--gap-6xs-6);
}
.frameParent,
.groupDiv,
.maskGroupParent,
.message,
.nameContainerParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.groupDiv {
  backdrop-filter: blur(13.26px);
  border-radius: 6.63px;
  background-color: var(--color-lightsteelblue-200);
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-9xs-9);
  gap: var(--gap-11xs-3);
  z-index: 1;
}
.frameParent,
.maskGroupParent,
.message {
  align-items: flex-start;
}
.maskGroupParent {
  width: 198.9px;
  padding: var(--padding-136xl-7) var(--padding-3xs) var(--padding-2xs-6);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.frameParent,
.message {
  max-width: 100%;
}
.frameParent {
  flex: 1;
  gap: var(--gap-22xl-2);
}
.message {
  align-self: stretch;
  padding: 0 var(--padding-lgi) 0 var(--padding-mini);
  box-sizing: border-box;
}
.privateDiscussion {
  margin-bottom: -2.8px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.privateDiscussionContent {
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.yourVideoCant {
  position: relative;
  font-size: var(--font-size-base-9);
  line-height: 27.3px;
  font-weight: 600;
  color: var(--color-darkgray);
  flex-shrink: 0;
  z-index: 1;
}
.privateDiscussionContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 171px;
}
.frameChild4,
.frameChild5 {
  position: relative;
  border-radius: 56.49px;
  display: none;
}
.frameChild4 {
  height: 27.3px;
  width: 172.3px;
  filter: blur(50.84px);
  background-color: var(--color-tomato);
}
.frameChild5 {
  height: 54.6px;
  width: 197.7px;
  background: linear-gradient(105.5deg, #f55454, #e6422b);
}
.endDiscussion {
  position: relative;
  font-size: var(--font-size-xl-7);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.groupButton,
.privateDiscussionContainerParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi-3) var(--padding-xl) var(--padding-xs-2)
    var(--padding-2xl);
  background-color: transparent;
  border-radius: 56.49px;
  background: linear-gradient(105.5deg, #f55454, #e6422b);
  align-items: flex-start;
  z-index: 1;
}
.privateDiscussionContainerParent {
  align-self: stretch;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
  gap: var(--gap-36xl-5);
  font-size: var(--font-size-3xl-6);
  color: var(--color-slategray-100);
}
.content,
.dialog {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.dialog {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xl-1);
}
.content {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl) 0 var(--padding-19xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.discussionsHeader,
.rectangleContainer {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleContainer {
  width: 591.3px;
  margin: 0 !important;
  position: absolute;
  bottom: -102.4px;
  left: 103.6px;
  box-shadow: 0 18.8px 47.08px rgba(47, 50, 125, 0.1);
  border-radius: 18.83px;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-lg-8);
  box-sizing: border-box;
  gap: var(--gap-17xl-7);
  z-index: 3;
  font-size: var(--font-size-sm-3);
}
.discussionsHeader {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.frameChild6 {
  height: 80px;
  width: 280px;
  position: relative;
  border-radius: var(--br-61xl);
  border: 1px solid var(--color-firebrick-100);
  box-sizing: border-box;
  display: none;
}
.seeMoreFeatures {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.02em;
  line-height: 180%;
  font-family: var(--font-nunito-sans);
  color: var(--color-lightseagreen-100);
  text-align: left;
  text-shadow: 1px 0 0#bf4628, 0 1px 0#bf4628, -1px 0 0#bf4628, 0-1px 0#bf4628;
  z-index: 1;
}
.featuresButtonContainer,
.rectangleParent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent1 {
  cursor: pointer;
  border: 1px solid var(--color-firebrick-100);
  padding: var(--padding-mid) var(--padding-19xl) var(--padding-base);
  background-color: transparent;
  border-radius: var(--br-61xl);
  justify-content: flex-start;
  white-space: nowrap;
}
.rectangleParent1:hover {
  background-color: var(--color-coral-300);
  border: 1px solid var(--color-coral-100);
  box-sizing: border-box;
}
.featuresButtonContainer {
  width: 1434px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.discussions {
  width: 1467.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-233xl-4);
  max-width: 100%;
}
.discussionsWrapper {
  width: 1886px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-4xs-4);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 1300px) {
  .discussionTitle,
  .ellipseParent {
    flex: 1;
  }
  .discussionPanel {
    flex-wrap: wrap;
  }
  .discussions {
    gap: var(--gap-107xl);
  }
  .discussionsWrapper {
    padding-bottom: var(--padding-595xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .discussionsWrapper {
    padding-bottom: var(--padding-380xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .ellipseParent {
    min-width: 100%;
  }
  .oneOnOneDiscussions {
    font-size: var(--font-size-13xl);
    line-height: 51px;
  }
  .discussionTitle {
    min-width: 100%;
  }
  .lineDiv {
    width: 100%;
    height: 0.9px;
  }
  .frameParent {
    flex-wrap: wrap;
  }
  .discussions {
    gap: var(--gap-44xl);
  }
}
@media screen and (max-width: 450px) {
  .oneOnOneDiscussions {
    font-size: var(--font-size-5xl);
    line-height: 38px;
  }
  .privateDiscussion,
  .teachersAndTeacher {
    font-size: var(--font-size-lg);
    line-height: 32px;
  }
  .privateDiscussion {
    line-height: 29px;
  }
  .endDiscussion {
    font-size: var(--font-size-mid);
  }
  .discussions {
    gap: var(--gap-13xl);
  }
  .discussionsWrapper {
    padding-bottom: var(--padding-240xl);
    box-sizing: border-box;
  }
}
