.forTeachersAnd {
  color: var(--color-black);
}
.toolsForTeachersContainer {
  margin: 0;
  width: 30rem;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.classHasA {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.02em;
  line-height: 180%;
  color: var(--color-slategray-100);
}
.frameContainer1,
.frameContainer,
.toolsForTeachersAndLearnerParent {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.toolsForTeachersAndLearnerParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.frameContainer1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.contentElementsChild {
  height: 1.4375rem;
  width: 1.4375rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-sandybrown);
}
.contentElements {
  width: 12.075rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.questionContainerChild {
  height: 6.225rem;
  width: 6.225rem;
  position: absolute;
  margin: 0 !important;
  top: -1.1375rem;
  left: -2.875rem;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
}
.questionContentChild {
  width: 29.1rem;
  height: 35.15rem;
  position: relative;
  box-shadow: 0 0.56875rem 2.730625rem rgba(40, 43, 110, 0.1);
  border-radius: 1.138125rem;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.frameChild {
  height: 2.99375rem;
  width: 10.9rem;
  position: relative;
  border-radius: 4.55125rem;
  background-color: var(--color-firebrick-300);
  display: none;
}
.question1 {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 2.09375rem;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 6.76875rem;
  z-index: 3;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs-7) var(--padding-13xl) var(--padding-5xs-7) var(--padding-14xl);
  background-color: var(--color-firebrick-300);
  border-radius: 4.55125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.rectangleParent:hover {
  background-color: var(--color-coral-200);
}
.trueOrFalse {
  margin: 0;
  width: 24.19375rem;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.questionContent {
  flex: 1;
  box-shadow: 0 0.56875rem 2.730625rem rgba(40, 43, 110, 0.1);
  border-radius: 1.138125rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-19xl-3) var(--padding-xl) var(--padding-317xl) var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-21xl-2);
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.frameInner,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 5.6125rem;
  height: 5.6125rem;
  object-fit: contain;
  z-index: 2;
}
.frameInner {
  top: 2.99375rem;
  left: 3.475rem;
  width: 5.8rem;
  height: 5.8rem;
  z-index: 3;
}
.frameDiv {
  height: 8.79375rem;
  width: 9.275rem;
  position: absolute;
  margin: 0 !important;
  top: -1.31875rem;
  right: -2.6875rem;
}
.maskGroupIcon,
.maskGroupIcon1 {
  position: absolute;
  top: 1.91875rem;
  left: 2.33125rem;
  width: 25.3875rem;
  height: 14.23125rem;
  object-fit: cover;
  z-index: 2;
}
.maskGroupIcon1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.maskGroupParent {
  height: 16.15rem;
  width: 28.5rem;
  position: absolute;
  margin: 0 !important;
  right: -1.55625rem;
  bottom: 2.2375rem;
}
.rectangleDiv {
  height: 7.4875rem;
  width: 22.8125rem;
  position: relative;
  box-shadow: 0 1.1375rem 3.3rem rgba(40, 43, 110, 0.08);
  border-radius: 1.138125rem;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.responseContentChild {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightcyan-100);
  z-index: 1;
}
.responseContent {
  height: 4.13125rem;
  width: 3.7125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-7) 0 0;
  box-sizing: border-box;
}
.fourteenthImage {
  height: 2.39375rem;
  width: 2.3375rem;
  position: absolute;
  margin: 0 !important;
  right: 0.0625rem;
  bottom: -0.29375rem;
  border-radius: 50%;
  background-color: var(--color-lightcyan-100);
  z-index: 1;
}
.yourAnswerWas {
  height: 4.19375rem;
  flex: 1;
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.messageContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 7.75rem;
}
.groupIcon {
  height: 4.775rem;
  width: 5.51875rem;
  position: absolute;
  margin: 0 !important;
  bottom: 1.3375rem;
  left: 1.79375rem;
  object-fit: contain;
  z-index: 2;
}
.questionContainer,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  width: 22.8125rem;
  margin: 0 !important;
  position: absolute;
  right: -6.5875rem;
  bottom: -2.45625rem;
  box-shadow: 0 1.1375rem 3.3rem rgba(40, 43, 110, 0.08);
  border-radius: 1.138125rem;
  background-color: var(--color-white);
  padding: var(--padding-7xl-8) var(--padding-9xl) var(--padding-6xl-9) var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-27xl);
  z-index: 4;
  font-size: var(--font-size-xl);
  color: var(--color-mediumaquamarine);
}
.questionContainer {
  flex: 1;
  position: relative;
  min-width: 18.9375rem;
}
.responseIconChild {
  width: 1.01875rem;
  height: 1.01875rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  flex-shrink: 0;
}
.responseIcon {
  height: 15.5125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.exampleContent,
.exampleElements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.exampleElements {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-21xl-3);
}
.exampleContent {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-smi);
  box-sizing: border-box;
}
.exampleContainerChild {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-firebrick-100);
  flex-shrink: 0;
}
.exampleContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl-8);
  max-width: 100%;
}
.contentContainer {
  width: 33.475rem;
  gap: var(--gap-2xl-1);
  font-size: var(--font-size-12xl);
  color: var(--color-black);
}
.contentContainer,
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  align-self: stretch;
  gap: var(--gap-255xl);
}
.frameWrapper {
  box-sizing: border-box;
}
.frameChild1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.frameWrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  flex-shrink: 0;
}
.quizzes {
  color: var(--color-firebrick-100);
}
.assessmentsQuizzesTestsContainer {
  margin: 0;
  width: 21.6875rem;
  position: relative;
  font-size: inherit;
  line-height: 160%;
  font-weight: 600;
  text-align: left;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  color: var(--color-black);
}
.assessmentsQuizzesTestsParent {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameParent,
.frameParent1,
.landingInner {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
}
.frameParent1 {
  width: 39.825rem;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl) 0 0;
  box-sizing: border-box;
  min-width: 39.825rem;
  color: var(--color-black);
  flex-direction: row;
  gap: var(--gap-255xl);
}
.frameParent,
.landingInner {
  align-items: center;
}
.frameParent {
  width: 90.975rem;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.landingInner {
  width: 119.0125rem;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-firebrick-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 81.25rem) {
  .frameContainer {
    flex-direction: column;
    align-items: center;
  }
  .frameContainer1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .frameWrapper {
    flex: 1;
    padding-top: var(--padding-83xl);
    box-sizing: border-box;
    flex-direction: column;
  }
  .frameParent1 {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frameParent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .landingInner {
    padding-bottom: var(--padding-89xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 50rem) {
  .frameContainer {
    flex-direction: column;
    align-items: center;
  }
  .frameContainer1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .toolsForTeachersContainer {
    font-size: var(--font-size-13xl);
    line-height: 3.1875rem;
  }
  .trueOrFalse {
    font-size: var(--font-size-6xl);
    line-height: 2.5rem;
  }
  .questionContent {
    padding-top: var(--padding-6xl);
    padding-bottom: var(--padding-199xl);
    box-sizing: border-box;
  }
  .exampleElements {
    gap: var(--gap-xl);
    flex-wrap: wrap;
  }
  .frameGroup {
    gap: var(--gap-118xl);
  }
  .frameWrapper {
    padding-top: var(--padding-47xl);
    box-sizing: border-box;
    min-width: 100%;
    flex-direction: column;
  }
  .assessmentsQuizzesTestsContainer {
    font-size: var(--font-size-13xl);
    line-height: 3.1875rem;
  }
  .frameParent1 {
    min-width: 100%;
  }
  .landingInner {
    padding-bottom: var(--padding-51xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 28.125rem) {
  .frameContainer {
    flex-direction: column;
    align-items: center;
  }
  .frameContainer1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .toolsForTeachersContainer {
    font-size: var(--font-size-5xl);
    line-height: 2.375rem;
  }
  .classHasA {
    font-size: var(--font-size-lg);
    line-height: 2rem;
  }
  .trueOrFalse {
    font-size: var(--font-size-lgi);
    line-height: 1.875rem;
  }
  .questionContent {
    gap: var(--gap-xl);
  }
  .yourAnswerWas {
    font-size: var(--font-size-base);
    line-height: 1.625rem;
  }
  .rectangleGroup {
    flex-wrap: wrap;
  }
  .frameGroup {
    gap: var(--gap-49xl);
  }
  .assessmentsQuizzesTestsContainer {
    font-size: var(--font-size-5xl);
    line-height: 2.375rem;
  }
  .landingInner {
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
}
