.groupChild,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
}
.groupChild {
  box-shadow: 0 18.8px 47.08px rgba(47, 50, 125, 0.1);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 374px;
  height: 617px;
}
.groupItem {
  width: 334px;
  height: 238.7px;
  object-fit: cover;
}
.awsCertifiedSolutions,
.loremIpsumDolor {
  position: absolute;
  left: 6px;
  display: inline-block;
}
.awsCertifiedSolutions {
  top: 301px;
  font-weight: 500;
  width: 324px;
  height: 77px;
}
.loremIpsumDolor {
  top: 399px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 180%;
  color: var(--color-slategray-100);
  width: 328px;
  height: 102px;
}
.groupParent,
.rectangleParent {
  position: absolute;
  top: 20px;
  left: 21px;
  width: 334px;
  height: 501px;
}
.rectangleParent {
  top: 0;
  left: 0;
  width: 374px;
  height: 617px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
