.carousel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d27e69 !important;
}
.course-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #d27e69 !important;
}
.course-card-container {
  background-color: #d27e69 !important;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  padding: 30px 80px;
}
.scrollable-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 20px 0;
  margin: 0 40px; /* This creates space between the arrows */
}
.header-title {
  color: #612d29;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  letter-spacing: 0.0275rem;
}

.scrollable-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.buttons-container {
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
  margin: 20px;
}
.course-card {
  margin-right: 10px;
  display: block !important;
  background-color: #fff !important;
}
.course-card-footer {
  border: none !important;
}
.course-card-footer-body {
  display: flex;
  justify-content: flex-end;
  color: #000;
}
.lesson {
  color: #000;
  font-size: 12px;
  font-family: "Poppins";
}
.card-body {
  padding: 10px 15px !important;
  height: 20rem !important;
  font-family: "Poppins";
}

.course-card img {
  height: 150px;
  object-fit: cover;
  border-radius: 5%;
}

.course-card-title {
  color: #612d29 !important;
  margin: 10px !important;
}

/* Arrow button styles */
.scroll-button {
  position: relative;
  background-color: #000 !important;
  border: 0px solid #ccc !important;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 10% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px !important;
  margin: 10px;
  box-shadow: none !important;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}
