.file-upload {
  background-color: #d27e69;
  padding: 50px;
}
.file-upload-container {
  border-radius: 63px;
  background-color: #ffffff;
  padding: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #612d29;
  font-family: 'Livvic';
}
.dropzone-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.dropzone {
  border: 2px solid #000;
  padding: 20px;
  width: 50%;
  border-radius: 60px;
  text-align: center;
  height: 20rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dropzone-text {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center !important;
  gap: 20px;
}
