.footer {
  background-color: #bf4628;
  padding: 1.25rem;
  margin-top: 1.25rem;
  color: #ffffff;
  text-align: center;
}
.brand {
  justify-content: center;
}
.navbar-nav {
  display: flex;
  flex-direction: row !important;
  align-items: center; /* Center items horizontally */
  width: 100%; /* Full width to ensure centering */
}
footer p {
  margin: 0;
  font-size: 1rem;
}
li::marker {
  display: none;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #612d29 !important;
  font-family: 'Livvic';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  letter-spacing: 0.0275rem;
  --bs-nav-link-color: #612d29 !important;
  --bs-nav-link-hover-color: #612d29 !important;
  --bs-nav-tabs-link-active-border-color: #612d29 !important;
  --bs-nav-tabs-link-active-color: #612d29 !important;
  --bs-nav-tabs-link-hover-border-color: #612d29 !important;
}
p {
  color: #b2b3cf;
  text-align: center;
  font-family: 'Poppins';
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.055rem;
}
@media (max-width: 600px) {
  .navbar-nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

/* Tablet Styles (600px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .navbar-nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

/* Desktop Styles (900px and above) */
@media (min-width: 901px) {
  .navbar-nav {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
